# Análise exploratória de dados

In [5]:
import pandas as pd
import seaborn as sns

## 1.Coleta de dados

In [6]:
attention = sns.load_dataset("attention")
attention.head()
attention.to_csv("../data/raw/data.csv", index=False)

## 2.Dicionário de dados

In [7]:
attention.columns

Index(['Unnamed: 0', 'subject', 'attention', 'solutions', 'score'], dtype='object')

In [8]:
attention.head()

   Unnamed: 0  subject attention  solutions  score
0           0        1   divided          1    2.0
1           1        2   divided          1    3.0
2           2        3   divided          1    3.0
3           3        4   divided          1    5.0
4           4        5   divided          1    4.0

In [9]:
attention.attention.mode()

0    divided
1    focused
Name: attention, dtype: object

In [10]:
attention.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  60 non-null     int64
 1   subject     60 non-null     int64
 2   attention   60 non-null     object
 3   solutions   60 non-null     int64
 4   score       60 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 2.5+ KB

In [11]:
dicionario = pd.DataFrame([
    {
        "variavel": "Unnamed:0",
        "descricao": "Igual ao index",
        "tipo":"Quantitativa",
        "subtipo":"Discreta"
    },{
        "variavel": "subject",
        "descricao": "Numero da questao a ser resolvida",
        "tipo":"quantitativa",
        "subtipo":"discreta"
    },{
        "variavel": "attention",
        "descricao": "O classificacao da atencao do individuo",
        "tipo":"qualitativa",
        "subtipo":"ordinal"
    },{
        "variavel": "solutions",
        "descricao": "Solucao do problema, de 1 a 3",
        "tipo":"quantitativa",
        "subtipo":"discreta"
    },{
        "variavel": "score",
        "descricao": "A pontucao do individo",
        "tipo":"quantitativa",
        "subtipo": "continua" 
    }
])

dicionario

    variavel                                descricao          tipo   subtipo
0  Unnamed:0                           Igual ao index  Quantitativa  Discreta
1    subject        Numero da questao a ser resolvida  quantitativa  discreta
2  attention  O classificacao da atencao do individuo   qualitativa   ordinal
3  solutions            Solucao do problema, de 1 a 3  quantitativa  discreta
4      score                   A pontucao do individo  quantitativa  continua

In [12]:
quantitativa = dicionario[dicionario['tipo']== 'quantitativa'].variavel.tolist()
qualitativa = dicionario[dicionario['tipo']== 'qualitativa'].variavel.tolist()

In [18]:
attention[qualitativa].head()

  attention
0   divided
1   divided
2   divided
3   divided
4   divided

In [14]:
attention[quantitativa].mean()

subject      10.500000
solutions     2.000000
score         5.958333
dtype: float64

In [16]:
dicionario.to_csv('../data/external/dicionario.csv', index=False)